WAZUH_MANAGER_IP= address of the Wazuh manager (e.g. 192.23.3.8) 
WAZUH_AUTH_PORT= port for Wazuh authentication (default is 1515)          
WAZUH_AGENT_PASSWORD= password for Wazuh agent authentication 
KEYCLOAK_USER= nom d'utilisateur admin de Keycloak 
KEYCLOAK_PASSWORD= mot de passe admin de Keycloak 

# les identifiants keycloak sont utilisés pour se connecter à l'interface d'administration de Keycloak et gérer les utilisateurs, les rôles et les clients.
