WAZUH_MANAGER_IP= address of the Wazuh manager (e.g. 192.23.3.8) 
WAZUH_AUTH_PORT= port for Wazuh authentication (default is 1515)          
WAZUH_AGENT_PASSWORD= password for Wazuh agent authentication 