
# ==============================
# DOCKER
# ==============================
*.log
*.pid
*.sock

# fichiers Docker inutiles
docker-compose.override.yml

# ==============================
# WAZUH
# ==============================
wazuh/**/logs/
wazuh/**/queue/
wazuh/**/data/
wazuh/wazuh-dashboard/*.tar.gz
wazuh/wazuh-indexer/*.tar.gz
wazuh/wazuh-indexer/plugins/opensearch-security/securityconfig.tar.gz

# ==============================
# OPENSEARCH / INDEXER
# ==============================
wazuh-indexer/data/
wazuh-indexer/logs/
wazuh-certificates/
wazuh/certs
ansible/certs

# ==============================
# LIFERAY
# ==============================
liferay/data/
liferay/logs/

# ==============================
# KEYCLOAK
# ==============================
keycloak/data/
keycloak/logs/

# ==============================
# ANSIBLE
# ==============================
ansible/*.retry
ansible/inventory/hosts.backup
ansible/inventory/hosts.ini
ansible/playbooks

# ==============================
# SYSTEM FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / EDITORS
# ==============================
.vscode/
.idea/

# ==============================
# ENV FILES (SENSIBLE)
# ==============================
.env
*.env

# ==============================
# BACKUPS
# ==============================
*.bak
*.backup