
*.log
*.pid
*.sock

# fichiers Docker inutiles
docker-compose.override.yml

# ==============================
# WAZUH
# ==============================
wazuh/**/logs/
wazuh/**/queue/
wazuh/**/data/
wazuh/wazuh-dashboard/*.tar.gz
wazuh/wazuh-indexer/*.tar.gz
wazuh/wazuh-indexer/plugins/opensearch-security/securityconfig.tar.gz


wazuh-indexer/data/
wazuh-indexer/logs/
wazuh-certificates/
wazuh/certs
ansible/certs



# ==============================
# SYSTEM FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / EDITORS
# ==============================
.vscode/
.idea/

# ==============================
# ENV FILES (SENSIBLE)
# ==============================
.env
*.env
